@page
@model Web.Pages.Marcas.DetalleModel
@{
    ViewData["Title"] = "Detalle Marca";
}
<h1>Detalle Marca</h1>

<div class="container mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelo => modelo.Marca.Nombre)</h5>
                <div>
                    <b>@Html.DisplayNameFor(modelo => modelo.Marca.Id):</b>
                    @Html.DisplayFor(modelo => modelo.Marca.Id)
                </div>
            </div>
        </div>
        <div class="mt-3">
            <a class="btn btn-primary" asp-page="./Index">Regresar</a>
            <a class="btn btn-warning" asp-page="./Editar" asp-route-id="@Model.Marca.Id">Editar</a>
        </div>
    </div>
</div>
